

@font-face /*nunito normal font*/ {
    font-family: "nunito";
    /* nunito path under ./styling/fonts */
    src: url("./fonts/Nunito-VariableFont_wght.ttf")
    format("truetype"); /* simply filetype */
    font-weight: 1 999;
    font-style: normal;
    font-display: swap; /* reduces text load times */
}

body {
    background: crimson;
    font-family: "nunito", math;
    display: grid;
    grid-template-columns:200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh; /*lays out the full webpage into grids*/
    column-gap: 100px; /* space between TB and MainPage */
    row-gap: 10px; /* space between header and mainPage */
    min-width: 950px;
    min-height: 550px;

}
.websiteName_Desc {
    display: flex;
    /* flexbox works better than grid here for automatically
    organising the two text horizontally */
    align-items: center;
    gap: 52px;

}
.taskBar {
    display: grid;
    background: blue;
    grid-column: 1;
    grid-row: 1/ span 2; /* allows the taskbar to overlap across
    multiple rows to span the whole screen */
    align-self: center;
    height: 92%;
    width: 200px;
    grid-template-rows: 15% repeat(5, 1fr);
    /*ensures the logo is placed at the top and even button spacing*/
    row-gap: 4%;
    justify-items: center;
    padding-left: 10px; /* adds spacing between buttons and
    screen edge */



}
.taskBarButton {
    aspect-ratio: 5/3;
    height: 100%;
    min-width: 75px;

}
#Logo {
    aspect-ratio: 1/1;
    width: 18vh;
    min-width: 100px;
    max-width: 200px;
}
#BackgroundAccent {
    background: yellow;
    aspect-ratio: 1/1; /* keeps the vector img uniform when scaled */
    /*height isn't required due to aspect-ratio applying
    width value to the x/y axis*/
    width: clamp(150px, 20vw, 300px);
    /*thresholds in clamp() help prevent scaling issues by
    preventing over or under sizing of elements, such as
    the background vector image*/
    grid-column: 0;
    grid-row: 0;
    position: absolute;
    left: 200px; /* places accent next to taskbar */
    top: 90px;
    z-index: 0;
}
.mainPage {
    display: grid;
    background: rebeccapurple;
    /* As the webpage body is a grid, the section can be placed
    in the bottom left by coordinating into the corresponding area*/
    grid-column: 2;
    grid-row: 2;
    padding-right: 5px; /* Applies safe-zone for the */
    /* mainPage for visual comfort */
    max-height: 95%;
    z-index: 1;
    /* Z-index places the main page above the
    background accent as seen on the final
    design */


}

.subsection1 {
    background: teal;
    display: grid;
    width: 90%;
    height: 66%;
    padding: 5px;
    /* Padding ensures that the subsection is visually
    separated to the mainPage */
}
#webpageTitle {
    display: grid;
    justify-items: center;
    font-size: large;
}