/* Added fonts get declared here: */
@font-face /*nunito normal font*/ {
    font-family: "nunito";
    /* nunito path under ./styling/fonts */
    src: url("./fonts/Nunito-VariableFont_wght.ttf")
    format("truetype"); /* simply filetype */
    font-weight: 1 999;
    font-style: normal;
    font-display: swap; /* reduces text load times */
}

body {
    background: var(--BGcolour);
    font-family: "nunito", math;
    display: grid;
    grid-template-columns:200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh; /*lays out the full webpage into grids*/
    column-gap: 100px; /* space between TB and MainPage */
    row-gap: 10px; /* space between header and mainPage */
    min-width: 950px;
    min-height: 550px;
    margin: 0;
}
span {
    color: var(--TBvectorColour);
    /*Used for the taskbar buttons names*/

}
.taskBarButton {
    aspect-ratio: 5/3;
    height: 100%;
    min-height: 60px;
    max-width: 150px;
    max-height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    /* 20px also work but the final design uses 16px so that's
    the default currently */
    text-align: center;
    gap: 12px;
    background: var(--TBcolour);
    border: none;
}
.taskBarButton:hover {
    transition: filter 0.5s ease;
    filter: brightness(130%);}
    /*highlights the taskbar buttons using a
    transition modifier to make it less abrupt*/
.taskBarButton:active {
    transition: filter 0.1s;
    filter: brightness(67%);}
    /*Simply darkens button when pressed for responsiveness*/
#BackgroundAccent {
    background: none;
    aspect-ratio: 1/1; /* keeps the vector img uniform when scaled */
    /*height isn't required due to aspect-ratio applying
    width value to the x/y axis*/
    width: clamp(150px, 20vw, 300px);
    /*thresholds in clamp() help prevent scaling issues by
    preventing over or under sizing of elements, such as
    the background vector image*/
    grid-column: 0;
    grid-row: 0;
    position: absolute;
    left: 200px; /* places accent next to taskbar */
    top: 90px;
    z-index: 0;
    color: var(--accessory);
    opacity: 10%;
    filter: blur(6px);
}

    .TBvector {
        aspect-ratio: 1/1;
        width: 40%;
        color: var(--TBvectorColour);
    }

    .websiteName_Desc {
        display: flex;
        /* flexbox works better than grid here for automatically
        organising the two text horizontally */
        align-items: center;
        gap: 52px;
        /* Adjusts spacing between title and desc.
        Preset to 52px to match the final design */
        color: var(--MPtext);
    }
    .taskBar {
        display: grid;
        grid-column: 1;
        grid-row: 1/ span 2;
        /* allows the taskbar to overlap across
           multiple rows to span the whole screen */
        align-self: center;
        height: 92%;
        width: 200px;
        grid-template-rows: 15% repeat(5, 1fr);
        /*ensures the logo is placed at the top and even button spacing*/
        row-gap: 4%;
        justify-items: center;
        align-items: center;
        padding-left: 10px;
        /* adds spacing between buttons and
           screen edge */
    }
    #Logo {
        aspect-ratio: 1/1;
        width: 18vh;
        min-width: 100px;
        max-width: 200px;
        color: var(--TBcolour);
    }


    .mainPage {
        display: grid;
        background: none;
        /* As the webpage body is a grid, the section can be placed
        in the bottom left by coordinating into the corresponding area*/
        grid-column: 2;
        grid-row: 2;
        padding-right: 5px; /* Applies safe-zone for the */
        /* mainPage for visual comfort */
        max-height: 95%;
        z-index: 1;
        /* Z-index places the main page above the
        background accent as seen on the final
        design */
    }
    .subsection1 {
        background: none;
        display: grid;
        width: 90%;
        height: 66%;
        padding: 10px;
        /* Padding ensures that the subsection is visually
        separated to the mainPage */
    }
    #webpageTitle {
        display: grid;
        justify-items: center;
        font-size: large;
    }
    #buttonSignOut{
        gap: 20px;
    }
}

